@import '../Base/base';
@import '../Base/reponsive';// để dưới cùng rồi
@import '../Theme/variable';



.carousel-out{
    .container{
        padding-bottom: 100px;
        background: $bg-color-4th;
        background-image: url(../img/carousel.png);
        background-size: cover;
        // height: 435px;
        // .carousel.slide{

        // }
        .carousel-indicators{
            margin-bottom: 3rem;
            button{
                @include button-carousel-indicators ();
            }
        }
        .carousel-inner{
            .carousel-item{
                .carousel-container{
                    .carousel-product{
                        // padding-left: 86px;
                        // justify-content: space-around;
                        .overlay-image{
                            opacity: 0.8;
                            img{
                                max-width: 100%;
                            }
                        }
                    }
                    .carousel-infoProduct{
                        // margin-right: -85px;
                        .infoProduct{
                            
                            h1{
                                padding-bottom: 5px;
                                @include text ($fw-sm,$fs-l,$lh-l);
                            }
                            h4{
                                padding-bottom: 20px;
                                @include text ($fw-sm,$fs-md,$lh-md);
                            }
                            button{
                                margin-top: 10px;
                                @include button;
                            }
                        }
                    }
                }
            }
            // .carousel-item.active{

            // }
        }
        .carousel-control-prev{
            width: 6%;
            .carousel-control-prev-icon{
                background-image: url(../img/prev.png);
                @include control-icon-carousel-prev-next;
                
            }
        }
        .carousel-control-next{
            width: 6%;
            .carousel-control-next-icon{
                background-image: url(../img/next.png);
                @include control-icon-carousel-prev-next;
            }
        }

    }

}

.Product-Feature{
    
    .container{
        padding-bottom: 50px;
        background: $bg-color-primary;
        .Product-Feature-inner{
            background-color: $bg-color-primary;
            h1{
                text-align: center;
                @include text ($fw-md,$fs-l,$lh-l);
            }
            
            #rendertable{
                display: flex;
                flex-flow: row wrap;
                .rendertable-item{
                    width: calc(100%/3);
                    background-color: $bg-color-primary;
                    padding-bottom: $margin-item-rendertable;
                    .rendertable-item-inner{
                        padding: $margin-item-rendertable;
                        margin: $margin-item-rendertable;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;
                        background-color: $bg-item-rendertable;
                        .rendertable-item-inner-top{
                            background: $bg-item-rendertable;
                            img{
                                max-width: 100%;
                            }
                        }
                        .rendertable-item-inner-mid{
                            background: $bg-item-rendertable;
                            p{
                                @include text($fw-sm,$fs-mds,$lh-mdm);
                                padding: 10px 10px;
                            }
                            p{
                                span{
                                    @include text($fw-sm,$fs-mds,$lh-mdm);
                                    color:$bg-color-11th;
                                    box-sizing: border-box;
                                }
                            }
                        }
                        .rendertable-item-inner-bottom{
                            display: flex;
                            justify-content:space-around;
                            margin: 0 -$margin-item-rendertable;
                            button{
                                width: 50%;
                                @include button;
                                border-radius: 0;
                                color: $bg-color-3rd ;
                            }
                            .btn-gia{
                                background: $bg-color-10th;
                            }
                        }
                    }
                }
            }

        }
    }
}



