@import '../Base/base';
@import '../Base/reponsive';
@import '../Theme/variable';


.Register{
    
    .container{
        background: $bg-color-4th ;
        .register-inner{
            margin: 0 auto;
            padding: 40px;
            max-width: 1000px;
            
            .title-register{
                p{
                    @include text($fw-md,$fs-l,$lh-l);
                    padding-bottom: 50px;
                }
            }
        }
    }
}

