
@import '../Theme/variable';
/* Responsive */
/*           xs  <576px	đt dọc xs
    767px >  sm  ≥576px  đt ngang sm
    991px >  md  ≥768px  tablet md
    1199px>  lg  ≥992px  desktop
             xl  ≥1200px 
    
/* container */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }    
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1260px) {
    .container {
        max-width: 1230px;
    }   
}
// block
// @media (max-width: 1199px){

// }

// @media (max-width: 991px){

// }

// @media (max-width: 767px){

// }

// @media (max-width: 575px){

// }

.carousel-out{
    @media (max-width: 991px){
        padding-bottom: 0;
        
    }
    .container{
        
        .carousel-indicators{
            
            button{
                @media (max-width: 991px){
                        margin: 0 3px;
                }
            }
        }
        .carousel-inner{
            .carousel-item{
                .carousel-container{
                    
                    .rendertable-item-inner{
                        @media (max-width: 991px){
                            display: block !important;
                            justify-content: center;
                            align-items:flex-end;
                        }
                        .carousel-product{
                            @media (max-width: 1199px){
                            max-width: 60%;
                            padding-left: 0;
                            margin: 0 auto;
                            }
                            @media (max-width: 767px){
                                max-width: 100%;
                                text-align: center;
                            }
                            .overlay-image{
                                @media (max-width: 767px){
                                    width: 80%;
                                    
                                }
                            }
                        }
                        .carousel-infoProduct{
                            @media (max-width: 1200px){
                            padding-right: 0;
                            text-align: center;
                            padding-bottom: 100px;
                            padding-left: 0;
                            }
                            // .infoProduct{
                            //     h1{
                                    
                            //     }
                            //     h4{
                                    
                            //     }
                            //     button{
                                    
                            //     }
                            // }
                        }
                    }
                    
                }
            }
            // .carousel-item.active{

            // }
        }
        // .carousel-control-prev{
            
        //     .carousel-control-prev-icon{
                
                
        //     }
        // }
        // .carousel-control-next{
            
        //     .carousel-control-next-icon{
                
        //     }
        // }

    }

}

.Product-Feature{
    
    .container{
        .Product-Feature-inner{
            
            // h1{
                
            // }
            #rendertable{
                .rendertable-item{
                    @media (max-width: 1199px){
                        width: 50%;
                    }
                    @media (max-width: 991px){
                        width: 100%;
                    }
                    // .rendertable-item-inner{
                        
                    // }
                }   
            }
        }
    }
}

.footer{
    .container{
        .row-top{
            
            .footer-container{
                @media (max-width: 767px){
                    display: block;
                }
                
                .col{
                    @media (max-width: 767px){
                        padding-bottom: 10px;
                    }
                    .title{
                        p{
                            @media (max-width: 767px){
                                @include text ($fw-B,$fs-md,$lh-md);
                               
                            }
                        }
                        ul{
                            @media (max-width: 767px){
                                @include text ($fw-md,$fs-sm,$lh-sm);
                                
                            }
                            li{
                                @media (max-width: 767px){
                                    @include text ($fw-md,$fs-sm,$lh-sm);
                                    padding-bottom: 10px;
                                }
                                // .text-red{
                                // }
                            }
                            
                        }
                    }
                }
            }
        }
        .row-bottom{
           
            .footer-container{
                @media (max-width: 767px){
                    display: block;
                }
                .col{
                    @media (max-width: 767px){
                        padding-bottom: 10px;
                    }
                    .title{
                        p{
                            @media (max-width: 767px){
                                @include text ($fw-B,$fs-md,$lh-md);
                               
                            }
                        }
                        ul{
                            @media (max-width: 767px){
                                @include text ($fw-md,$fs-sm,$lh-sm);
                                
                            }
                            li{
                                @media (max-width: 767px){
                                    @include text ($fw-md,$fs-sm,$lh-sm);
                                    padding-bottom: 10px;
                                }
                                // .text-red{
                                // }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}

.Register{
    
    .container{
        
        .register-inner{
            
            // .title-register{
            //     p{
                    
            //     }
            // }
            .row{
                @media (max-width: 991px){
                    display: block;
                    
                }
                
                .col-md-6 {
                    @media (max-width: 991px){
                        width: 100%;
                        
                       
                    }
                }
                // col{
                    
                //     .inputcol{
                        
                //     }
                // }
            }
        }
    }
}



// @media (max-width: 1199px){

// }

// @media (max-width: 991px){

// }

// @media (max-width: 767px){

// }

// @media (max-width: 575px){

// }